{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <link rel="stylesheet" href="{% static 'movies/css/style.css' %}"> {% endcomment %}
</head>
<body>
    <div class="">
        <h1>Security Token Expired</h1>
        <p name="reason">We're sorry, your security token has expired. This often happens if you use your browser's "back" button after logging in or out.</p>
        <p>Please <strong>refresh this page</strong> (press F5 or Cmd+R) and try again.</p>
        <p>If the error persists, you may need to clear your browser's cache or log in again.</p>
        {% comment %} <a href="/">Go to Homepage</a> {% endcomment %}
    </div>
</body>
</html>