{% extends "movies/base.html" %} 

{% block title %}2.Movie List Page{% endblock title %} 

{% block content %}
<div class="movie-container">
    <div class="movie-header">
        <h2>All Movies</h2>
        {% if user.user_role == 'admin' %}
            <a class="nav-link" href="{% url 'movies:addmovie' %}"><button>+ Add New Movie</button></a>
        {% endif %}
    </div>
    <br>
    <div class="filter-container">
        <form class="filter-movie" method="get" action="{% url 'movies:movie' %}" role="search">
            <div class="filter-grp">
                <label for="genre" id="form-label">Genre</label>
                <select name="genres" id="genres" class="form-select">
                    <option value="all">All Genres</option>
                    {% for genre in genres %}
                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-grp">
                <label for="years_list">Year</label>
                <select name="year">
                    <option value="all">All Years</option>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-grp">
                <label for="search_movie">Search</label>
                <input type="search" name="search_movie" value="{{ request.GET.search_movie|default:'' }}" placeholder="Search by title..."/>
            </div>
            <button class="filter-grp" type="submit">Apply Filters</button>
        </form>
    </div>                                       
    
    <div class="movies-section">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Director</th>
                    <th>Year</th>
                    <th>Duration</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.genre.genre_name }}</td>
                    <td>{{ movie.director.person_name }}</td>
                    <td>{{ movie.release_year }}</td>
                    <td>{{ movie.duration }} min</td>
                    <td>
                        <span>
                            <p> ⭐ {{ movie.rating }}</p>
                            <div class="stars">
                            {% for i in "12345678910" %}
                                {% if forloop.counter <= movie.rating|floatformat:0 %}
                                ⭐                        
                                {% endif %}
                            {% endfor %}
                            </div>
                        </span>
                    </td>
                    <td>
                        <button><a href="{% url 'movies:movieDetail' movie.id %}">View</a></button>
                        {% if user.user_role == 'admin' %}
                            <button><a href="{% url 'movies:editmovie' movie.id %}">Edit</a></button>
                            <button><a href="{% url 'movies:deletemovie' pk=movie.id %}">Delete</a></button>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <p>No Movie found.</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
